{% extends 'base.html' %}
{% load my_filters %}

{% block content %}
<main>
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="contact">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>تخفیفات فعال</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><strong>تمام محصولات دارای تخفیف را اینجا مشاهده نمایید</strong>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ َActive sales section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="row">
                {% for prod in all_sales %}
                <div class="col-md-7 col-lg-5 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img btn btn-primary">
                            <img class="card-img" src='{{ prod.picture.url }}' alt="">
                            <ul class="card-product__imgOverlay">
                                <li><a href="{% url 'prod_details' prod.id %}" class="btn btn-primary"><i class="ti-shopping-cart"></i><strong>مشاهده</strong></a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p><strong>{{ prod.category.name }}</strong></p>
                            <p><strong>{{ prod.brand }}</strong></p>
                            <h4 class="card-product__title"><a href="{% url 'prod_details' prod.id %}"><strong>{{ prod.name }}</strong></a></h4>
                            <p class="card-product__price"><strong><s>{{ prod.price|intcomma }} T</s> : قیمت</strong>
                            </p>
                            <p class="card-product__price text-primary"><strong>{{ prod.sale_price|intcomma }} T : با تخفیف</strong></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ================ Active sales section end ================= -->
</main>
{% endblock %}